.objectCard {
  cursor: pointer;
  min-width: 200px;
  height: 200px;
  box-sizing: border-box;
  color: white;
  background: rgba(7, 7, 7, 0.2);
  border: 5px solid transparent;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.269);
  transition: all 0.3s ease;
  transform: scale(0.95);

}
.editingCard{
  cursor: pointer;
  min-width: 200px;
  height: 200px;
  box-sizing: border-box;
  color: white;
  background: rgba(7, 7, 7, 0.2);
  border: 5px #D5A746 solid;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.269);
  transition: all 0.3s ease;
  transform: scale(0.95);

}
.highlightedObjectCardRow{
  cursor: pointer;
  min-width: 200px;
  height: 200px;
  box-sizing: border-box;
  color: white;
  background: rgba(7, 7, 7, 0.2);
  border: 5px solid #7ABE6C;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.269);
  transition: all 0.3s ease;
  transform: scale(0.95);

}

.HighlightedImageCard{
  height:90%;
  width:90%;
  z-index: -1;

  margin: auto;
  display: block;

}
.change-custom-kit-btn{
  margin-top:5px;
  background-color: #4389BA;
  border: 0px;
  width:200px;
  cursor: pointer;
  overflow: hidden;
  outline:none;

}
.cycle-button-prev{
  background-color: #4389BA;
  border: 0px;
  position: absolute;
  top:20%;
  left:0;
  height:30px;
  width:30px;

  cursor: pointer;
  overflow: hidden;
  outline:none;
}
.cycle-button-next{
  background-color: #4389BA;
  border: 0px;
  height:30px;
  width:30px;
  position: absolute;
  top:20%;
  right:0;
  cursor: pointer;
  outline:none;
}
.ImageCard{
  height: 150px;
  width:150px;
  margin: auto;
  display: block;
}


.card-subheader {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-style: normal;
  font-size: 18px;
  color: white;
  background-color: #4389BA;
}
.card-subheader-mini {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-style: normal;
    font-size: 15px;
    color: white;
    background-color: #4389BA;
    margin-right:1%;
    margin-left:1%;
    margin-top:1.5%;
    margin-bottom:5%;
}

.highlightedObjectCard {
  margin: 5px;
  background-color: lightblue;
  height: 400px;
  width: 400px;
  box-sizing: border-box;
  color: white;
  background: rgba(7, 7, 7, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.269);
  transition: all 0.3s ease;
  transform: scale(.97);

}

.objectsDisplay {
  display: grid;
  grid-auto-rows: 210px;
  grid-column-gap: 60px;
  padding: 10px;
  margin-left:10px;
  overflow-y:hidden;
  align-content: left;
}

.container {
  display: flex;
  min-width: 100%;
  
}
.scrollable-edit{
  display:flex;
  overflow-y: auto;
}
.editing-details{
  flex: 0 0 50%; /* Takes up 50% of the space, but doesn't grow or shrink */
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent line breaks */
  margin-top:30px; 
  background: #1d435d25;
  backdrop-filter: blur(10px);
  height: 400px;
}
.subheader-container-edit {
  text-align: left;
  background-color: #4389BA;
  margin-bottom: 20px;
}

.container-cores, .container-cores-custom-kits {
  flex: 1; /* Takes up remaining space */
  transition: flex 0.3s ease; /* Smooth transition for resizing */
}
.armory-row-flex-container {
  display: flex;
  width: 100%;
}

.scrollable-container {
  width: 100%; /* Ensure the width is constrained */
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Keep items in a single line */

}
.container-cores {
    display: flex;
    overflow: hidden;
    padding-top:50px;
    height: 100%;
    width: 100%;
}
.container-cores-custom-kits {
  display: flex;
  height: 100%;
  width: 50%;
  
}

.highlightedCardContainer {
  flex: none;
  padding-top: 30px;
  overflow: visible;
}

.cardContainer {
  flex-grow: 1;
  overflow: hidden;
  padding: 5px;

  padding-top:20px;
}
.checkmark-button{
  background-color: #4389BA;
  border: 0px;
  position: absolute;
  bottom:0;
  cursor: pointer;
  overflow: hidden;
  outline:none;
}
.checkmark-button-editing {
  background-color: green;
  /* Other styling as needed */
}
.checkmark-editing{
  background-color: transparent;
  cursor: pointer;
  width:20px;
  height:20px;
}
.trash-button{
  background-color: #ba4343;
  border: 0px;
  position: absolute;
  bottom:0;
  right:0;
  cursor: pointer;
  overflow: hidden;
  outline:none;

}
.scrollable-container > div {
  margin-right: 10px; /* Adjust the right margin as needed */
}
.dummy-object-name-input{
  width:190px;
  height:20px;
  border: 0px;
  margin-bottom:15px;
  background-color: #4389BA;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-style: normal;
  font-size: 15px;
  color: white;

}

.change-text{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-style: normal;
  font-size: 15px;
  color: white;

}
.cardWithGradient {
  position: relative;
  z-index: 0;
}

.cardWithGradient::before {
  content: '';
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent,transparent 30px, var(--rarity-color));
  z-index: -1;
}



  /* Rarity specific color variables */
  .Common {
    --rarity-color: #f6f6f6; /* Color for common rarity */
  }
  
  .Rare {
    --rarity-color: #a6e1fa; /* Color for rare rarity */
  }
  
  .Epic {
    --rarity-color: #c084fc; /* Color for epic rarity */
  }
  
  .Legendary {
    --rarity-color: #D5A746; /* Color for legendary rarity */
  }
  .LegendaryCustom {
    --rarity-color: #467dd5; /* Color for legendary rarity */
  }

/* Big Highlighted Card Image Styles */
.bigHighlightedImage {
  height:89.3%;
  width:90.3%;

  margin: auto;
  display: block;


}

/* Highlighted Card Image Styles */
.highlightedImage {
  height:80%;
  width:80%;

  margin: auto;
  display: block;

}

/* Unhighlighted Card Image Styles */
.unhighlightedImage {
  height:80%;
  width:80%;

  margin: auto;
  display: block;

}

