.objectCard {
  cursor: pointer;
  min-width: 200px;
  height: 200px;
  box-sizing: border-box;
  color: white;
  background: rgba(7, 7, 7, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.269);
  transition: all 0.3s ease;
  transform: scale(0.95);

}
.highlightedObjectCardRow{
  cursor: pointer;
  min-width: 200px;
  height: 200px;
  box-sizing: border-box;
  color: white;
  background: rgba(7, 7, 7, 0.2);
  border: 5px solid #7ABE6C;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.269);
  transition: all 0.3s ease;
  transform: scale(0.95);

}
.HighlightedImageCard{
  max-height:100%; max-width:100%;
  height:90%;
  width:90%;

  margin: auto;
  display: block;

}
.ImageCard{
  max-height:80%; max-width:77.25%;
  margin: auto;
  display: block;
}

.card-subheader {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-style: normal;
  font-size: 18px;
  color: white;
  background-color: #4389BA;
}
.card-subheader-mini {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-style: normal;
    font-size: 18px;
    color: white;
    background-color: #4389BA;
    margin-right:1%;
    margin-left:1%;
    margin-top:1.5%;
    margin-bottom:5%;
  
  
}

.highlightedObjectCard {
  margin: 5px;
  background-color: lightblue;
  height: 400px;
  width: 400px;
  box-sizing: border-box;
  color: white;
  background: rgba(7, 7, 7, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.269);
  transition: all 0.3s ease;
  transform: scale(.97);

}

.objectsDisplay {
  display: grid;
  grid-auto-rows: 210px;
  grid-column-gap: 60px;
  overflow-x: auto;
  padding: 10px;
  overflow-y:hidden;
  align-content: start;
}

.container {
  display: flex;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.highlightedCardContainer {
  flex: none;
  padding: 5px;
  padding-top: 30px;
  overflow: visible;
}

.cardContainer {
  flex-grow: 1;
  overflow: hidden;
  padding: 5px;

  padding-top:20px;
}
