#sidebar-wrapper {
    background: rgba(0,0,0,0.3);
    position: fixed;
    height: 100vh;
    width: 210px; /* You might need to set a width */
    z-index: 2; /* Make sure this is higher than the SVG */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
}


.header-wrapper {
    background: rgba(0,0,0,0.3);

    color: #E4E6EB;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 210px;
    right: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);


}

.right-aligned {
    margin-top: auto;
    width: 100%;
    padding: 10px;
}

.list-group-item {
    background-color: #242526;
    color: #E4E6EB;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    text-align: center;
}

.list-group-item:hover {
    background-color: #3A3B3C;
    cursor: pointer;
}

.sidebar-heading {
    color: #E4E6EB;
    background-color: rgba(var(--primary-color-rgb), 0.7); /* 0.7 sets 70% opacity */
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
    backdrop-filter: blur(10px); /* for frosted glass effect */
    
}

.clear-cookie-button {
    background: linear-gradient(to right, #FF5F6D, #FFC371);
    border: none;
    color: #E4E6EB;
}

#page-content-wrapper {
    margin-left: 213px;
    margin-right: 0px;
}
