body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
    background-color: #18183C;
	position: relative; /* New: Relative positioning for body */
}
html {
	background-color: #0D1D33;
	background-size: cover; /* This will cover the entire viewport */
    background-repeat: no-repeat; /* This will prevent the image from repeating */
}

  .main-grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	height: 100vh;
	gap: 10px;
	padding: 50px;
	background-color: #0D1D33;
  }

  .card-title {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	margin-top: 10px;
  }
  .card-header{
	text-align: center;

  }
  .scaled-image {
	max-width: 75%; /* You can adjust this */
	height: auto;
  }
  .main-cards {
	background-color: #414F7C;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.793);
	display: flex;
	flex-direction: column;  /* New: Items will stack vertically */
	align-items: center;  /* Horizontally center-align items */
	justify-content: top;  /* Vertically center-align items */
	overflow: hidden;
	position: relative;
  }
.container {
	margin: 0 auto;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	word-wrap: break-word; /* New: Wrap text */
}

.header {
	background-color: #333;
	color: #fff;
	padding: 10px;
}

.header h1 {
	margin: 0;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 10px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

nav ul li a:hover {
	text-decoration: underline;
}


.match {
	display: flex;
	align-items: center;
	margin-bottom: 10px;  /* Adds space below each card */
	transition: background-color 0.3s ease;  /* Animation */
	margin-top: 5px;	
  }
  .match:hover {
	background-color: #f2f2f2;  /* Background color when hovered */
  }
  
  .match-img {
	max-width: 200px;
	margin-right: 16px;

  }
  
  .info-col, .time-col {
	margin-right: 16px;
  }
  
  .map-name {
	font-size: 1.4em;
	margin-bottom: 4px;
  }
  
  .match-link{
	text-decoration: none;
	color: black
  }
  .playlist {
	font-size: 0.8em;
  }
  
  
  

  
/* Match Cards */
  

  /* Style for gamerpic */
.gamerpic-td img {
	border-radius: 50%;
  }
  
  /* Style for gamer tag */
  .gamertag-td {
	font-weight: bold;

  }
  
  /* Style for kills */
  .kills-td {
	color: green;
  }
  
  /* Style for deaths */
  .deaths-td {
	color: red;
  }
  
  /* Style for assists */
  .assists-td {
	color: blue;
  }
  
  /* Style for KDA */
  .kda-td {
	font-style: italic;
  }


  .custom-shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: visible;
    line-height: 0;
}

.custom-shape svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 54px;
}

.custom-shape .shape-fill {
    fill: #F68B3A;
}
.relative-container {

	position: relative;
  }
  .d-flex{
	background-color: #0D1D33;

  }

  .main-card-spartan{
    position: absolute;
    bottom: 0;
}