body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
    background-color: #18183C;
	position: relative; /* New: Relative positioning for body */
}

  .main-grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	height: 100vh;
	gap: 10px;
	padding: 10px;
	background-color: #18183C;

  }

  .card-title {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	margin-top: 10px;
  }
  .card-header{
	text-align: center;

  }
  .scaled-image {
	max-width: 75%; /* You can adjust this */
	height: auto;
  }
  .main-cards {
	background-color: #414F7C;
	border-radius: 12px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;  /* New: Items will stack vertically */
	align-items: center;  /* Horizontally center-align items */
	justify-content: top;  /* Vertically center-align items */
	overflow: hidden;
	position: relative;
  }
.container {
	margin: 0 auto;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	word-wrap: break-word; /* New: Wrap text */
}

.header {
	background-color: #333;
	color: #fff;
	padding: 10px;
}

.header h1 {
	margin: 0;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 10px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

nav ul li a:hover {
	text-decoration: underline;
}

.clear-cookie-button {
	position: absolute; /* New: Absolute positioning */
	top: 10px;
	right: 130px; /* Adjust according to your layout */
}
.right-aligned {
	flex-grow: 1;
	text-align: right;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;  /* optional: adds a gap between the gamerpic and the button */
}



.match {
	display: flex;
	align-items: center;
	margin-bottom: 10px;  /* Adds space below each card */
	transition: background-color 0.3s ease;  /* Animation */
	margin-top: 5px;	
  }
  .match:hover {
	background-color: #f2f2f2;  /* Background color when hovered */
  }
  
  .match-img {
	max-width: 200px;
	margin-right: 16px;

  }
  
  .info-col, .time-col {
	margin-right: 16px;
  }
  
  .map-name {
	font-size: 1.4em;
	margin-bottom: 4px;
  }
  
  .match-link{
	text-decoration: none;
	color: black
  }
  .playlist {
	font-size: 0.8em;
  }
  
  
  

  
/* Match Cards */
  

  /* Style for gamerpic */
.gamerpic-td img {
	border-radius: 50%;
  }
  
  /* Style for gamer tag */
  .gamertag-td {
	font-weight: bold;

  }
  
  /* Style for kills */
  .kills-td {
	color: green;
  }
  
  /* Style for deaths */
  .deaths-td {
	color: red;
  }
  
  /* Style for assists */
  .assists-td {
	color: blue;
  }
  
  /* Style for KDA */
  .kda-td {
	font-style: italic;
  }

  /* styles.css */
.rank-image {
    width: 150px;  /* or whatever width you want */
    height: auto;  /* maintain aspect ratio */
	margin-bottom: 10px;

}

.rank-container {
	padding-left:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    width: 200px;  /* Adjust width as necessary */
}

.rank-header {
    font-weight: bold;
    margin-bottom: 10px;
	
}

.rank-subtext{
	font-weight: bold;
}

.rank-row {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between containers */
}


.rank-spotlight {
    flex: 1;
    background-color: #f0f0f0; /* Highlight background */
}
.rank-spotlight-image {
    width: 200px;  /* or whatever width you want */
    height: auto;  /* maintain aspect ratio */
	justify-content: center;

}
.rank-regular-image {
    width: 150px;  /* or whatever width you want */
    height: auto;  /* maintain aspect ratio */
	justify-content: center;

}

.rank-regular {
    flex: 1;
}