body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
    background-color: #18183C;
	position: relative; /* New: Relative positioning for body */
}

  
  .main-grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	height: 100vh;
	gap: 10px;
	padding: 10px;
	background-color: #18183C;

  }

  .card-title {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	margin-top: 10px;
  }
  
  .scaled-image {
	max-width: 75%; /* You can adjust this */
	height: auto;
  }
  .main-cards {
	background-color: #414F7C;
	border-radius: 12px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;  /* New: Items will stack vertically */
	align-items: center;  /* Horizontally center-align items */
	justify-content: top;  /* Vertically center-align items */
	overflow: hidden;
	position: relative;
  }
.container {
	margin: 0 auto;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	word-wrap: break-word; /* New: Wrap text */
}

.header {
	background-color: #333;
	color: #fff;
	padding: 10px;
}

.header h1 {
	margin: 0;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 10px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

nav ul li a:hover {
	text-decoration: underline;
}

.clear-cookie-button {
	position: absolute; /* New: Absolute positioning */
	top: 10px;
	right: 130px; /* Adjust according to your layout */
}
.right-aligned {
	flex-grow: 1;
	text-align: right;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;  /* optional: adds a gap between the gamerpic and the button */
}

