@keyframes moveWave1 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(200px); /* Shift by 200 pixels */
    }
  }
  @keyframes moveWave2 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-200px); /* Shift by 200 pixels */
    }
  }
  
  .wave {
    animation: moveWave1 10s ease-in-out infinite alternate; /* 10s duration */
  }
  
  .wave2 {
    animation: moveWave2 16s ease-in-out infinite alternate; /* 12s duration */
  }
  

  .custom-shape {
    z-index: 1; /* Lower than the sidebar */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    
}

.custom-shape svg {
    position: relative;
    width: calc(100%);
    height: 64px;
    padding-bottom: 10px;
}

.custom-shape .shape-fill {
  fill: var(--secondary-color);
  transition: fill 0.3s ease;
}
