{{ define "authenticatedContent" }}
<div class="card mb-5">
    <div class="card-body">
        <h5 class="card-title">{{.gamerInfo.Gamertag}}</h5>
        <div class="row align-items-center"> <!-- Bootstrap row and alignment class -->
            <div class="col-3"> <!-- Bootstrap column class -->
                    <img src="{{.gamerInfo.Gamerpic.Medium}}" alt="Medium Gamerpic" class="rounded">
            </div>
        </div>
    </div>
</div>


<div class="container">
    
    <h1>Authenticated!</h1>
    <p>Spartan Key: {{.gamerInfo.SpartanKey}}</p>
    <p>XUID: {{.gamerInfo.XUID}}</p>
    <p>FlightID: {{.gamerInfo.ClearanceCode}}</p>
    <p>Gamertag: {{.gamerInfo.Gamertag}}</p>
</div>
{{end}}
