<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <div class="header">
        <h1>Halo Tracker</h1>
        <nav>
            <ul>
                <li><a href="/account">Account</a></li>
                <li><a href="/season">Season</a></li>
                <li><a href="/stats">Battle History</a></li>
                <li><a href="/spartan">Spartan</a></li>

            </ul>
            <div class="right-aligned">
                <button class="clear-cookie-button btn btn-danger" onclick="clearCookie()">Clear Cookie</button>
            </div>
        </nav>
    </div>

    <div class="container mt-5">
        <div class="container mt-5">
            {{if eq .contentBlock "authenticatedContent"}}
                {{template "authenticatedContent" . }}
            {{else if eq .contentBlock "match-details"}}
                {{template "match-details" . }}
                {{else if eq .contentBlock "spartan"}}
                {{template "spartan" . }}
                {{else if eq .contentBlock "stats"}}
                {{template "stats" . }}


            {{end}}
        </div>    
    </div>

    <script>
        function clearCookie() {
            document.cookie = "SpartanToken=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            window.location.href = "/";
        }
    </script>

</body>
</html>