<!DOCTYPE html>
<html>
<head>
        <title>Season</title>
        <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
        <div class="header">
                <h1>Welcome to My Website</h1>
                <nav>
                        <ul>
                                <li><a href="/account">Account</a></li>
                                <li><a href="/season">Season</a></li>
                                <li><a href="/stats">Stats</a></li>

                        </ul>
                </nav>
        </div>
        <div class="container">
                <h1>Season</h1>
                {{range .}}
                <div class="season-image">
                        <img src="{{.}}" alt="Season Image">
                </div>
                {{end}}
        </div>
</body>
</html>
