{{define "spartan"}}
    <!-- Spartan Inventory Card -->
    <div class="card mt-5">
        <div class="card-body">
            <h5 class="card-title">Spartan Inventory</h5>
            <h6>Current Spartan Armor </h6>
            <ul>
                {{range .playerInventory.ArmorCores.ArmorCores}}
                    <li>
                        Core Path: {{.CorePath}}, Is Equipped: {{.IsEquipped}}, Core ID: {{.CoreId}}, Core Type: {{.CoreType}}
                        <ul>
                            {{range .Themes}}
                                <li>
                                    <strong>Theme:</strong>
                                    <ul>
                                        <li>First Modified Date: {{.FirstModifiedDateUtc.ISO8601Date}}</li>
                                        <li>Last Modified Date: {{.LastModifiedDateUtc.ISO8601Date}}</li>
                                        <li>Is Equipped: {{.IsEquipped}}</li>
                                        <li>Is Default: {{.IsDefault}}</li>
                                        <li>Theme Path: {{.ThemePath}}</li>
                                        <li>Coating Path: {{.CoatingPath}}</li>
                                        <li>Glove Path: {{.GlovePath}}</li>
                                        <li>Helmet Path: {{.HelmetPath}}</li>
                                        <li>Helmet Attachment Path: {{.HelmetAttachmentPath}}</li>
                                        <li>Chest Attachment Path: {{.ChestAttachmentPath}}</li>
                                        <li>Knee Pad Path: {{.KneePadPath}}</li>
                                        <li>Left Shoulder Pad Path: {{.LeftShoulderPadPath}}</li>
                                        <li>Right Shoulder Pad Path: {{.RightShoulderPadPath}}</li>
                                        <!-- ... Emblem is an array, so you'll need another loop ... -->
                                        <li>Armor Fx Path: {{.ArmorFxPath}}</li>
                                        <li>Mythic Fx Path: {{.MythicFxPath}}</li>
                                        <li>Visor Path: {{.VisorPath}}</li>
                                        <li>Hip Attachment Path: {{.HipAttachmentPath}}</li>
                                        <li>Wrist Attachment Path: {{.WristAttachmentPath}}</li>
                                    </ul>
                                </li>
                            {{end}}
                        </ul>
                    </li>
                {{end}}
            </ul>

            <!-- Spartan Body -->
            <h6>Spartan Body</h6>
            <p>Body Type: {{.playerInventory.SpartanBody.BodyType}}</p>

            <!-- Appearance -->
            <h6>Appearance</h6>
            <p>Service Tag: {{.playerInventory.Appearance.ServiceTag}}</p>

            <!-- Weapon Cores -->
            <h6>Weapon Cores</h6>
            <ul>
                {{range .playerInventory.WeaponCores.WeaponCores}}
                    <li>Core ID: {{.CoreId}}, Core Type: {{.CoreType}}</li>
                {{end}}
            </ul>

            <!-- AI Cores -->
            <h6>AI Cores</h6>
            <ul>
                {{range .playerInventory.AiCores.AiCores}}
                    <li>Core ID: {{.CoreId}}, Core Type: {{.CoreType}}</li>
                {{end}}
            </ul>

            <!-- Vehicle Cores -->
            <h6>Vehicle Cores</h6>
            <ul>
                {{range .playerInventory.VehicleCores.VehicleCores}}
                    <li>Core ID: {{.CoreId}}, Core Type: {{.CoreType}}</li>
                {{end}}
            </ul>
        </div>
    </div>
{{end}}
