.image-container {
	position: relative;
	width: 300px;
	overflow: hidden; 
  }
  
  .base-image {
	width: 100%; 
	height: auto; 
	display: block;
  }
  
  .overlay-image {
	position: absolute;
	width: 52.5px; 
	height: 52.5px; 
	top: 0%;
	left: 0%;
  }
  .gamertag {
	font-style: italic;

	position: absolute;
	font-size:18px;
	width: 100%; 
	text-align: center; 
	top: 15%;  /* Position the top edge of the text element at the middle of the container */
	color: #ffffff; /* Set to white for now; adjust based on your design */
}

.servicetag{
	font-style: italic;
	position: absolute;
	font-size:10px;
	width: 100%; 
	text-align: center; 
	top: 60%;  /* Position the top edge of the text element at the middle of the container */
	color: #ffffff; /* Set to white for now; adjust based on your design */

}
.header-wrapper {
    width: 100%;                /* Take up full width */
}

.bottom-left-element {
	position: absolute;
	bottom: 0; /* Align to the bottom of the container */
	left: 0; /* Align to the left of the container */
	color: #ffffff; /* Set text color (white) */
	font-size: 14px; /* Set text size */
	padding: 5px; /* Add padding if needed */
  }


  .bottom-left-items {
	color: #ffffff; /* Set text color (white) */
	font-size: 14px; /* Set text size */
  }

  