.welcome-title {
  color: rgb(213, 213, 213);
  padding-top: 60px;
  padding-left: 50px;
  padding-bottom: 10px;
  text-align: center;
  font-style: italic;
  font-size: large;

}
.donate-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  backdrop-filter: blur(10px);
}
.btn.paypal-btn {
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #0070BA;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.31);
  backdrop-filter: blur(10px);
}
.btn.paypal-btn:hover {
  background-color: #0070BA;
  color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.31);
  transform: scale(1.05);
}

.home-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); /* Allows for a fluid number of columns */
  gap: 5px;
  align-items: start;
  margin-bottom: 50px;
  padding-bottom:50px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.31);
  backdrop-filter: blur(10px);
}


.spartan-title-home {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  padding-left: 15px;
  color: white;
  margin-bottom: 0px;

}
.scaled-object-card {
  transform: scale(0.6); /* Adjust scale value as needed */
  transform-origin: center; /* Keeps the scaling centered */
}
.spartan-title-donate {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  padding-left: 15px;
  color: white;
  margin-bottom: 0px;
}

.event-title-home {
  font-family: 'Oswald', sans-serif;
  font-size: large;
  color: #7FCDE9;
  margin-bottom: 0px;
}

.spartan-subheader-home {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  padding-left: 40px;
  margin-top: 5px;
  padding-bottom: 5px;
  color: white;
  margin-bottom: 0px;
}




.title-container-events-home {
  margin-top: 10px;
  margin-left: 50px;
  text-align: center;
  width: 95%;
  background-color: #273b44;
  border-left: 5px solid #80cde9;
  border-right: 40px solid #1D435D;
}
.live-text {
  color: red;
  font-family: 'Oswald', sans-serif;
}
.past-text {
  color: #D6A948;
  font-family: 'Oswald', sans-serif;
}
.future-text {
  color: #80cde9;
  font-family: 'Oswald', sans-serif;
}
.title-container-event-home-active {
  margin-top: 10px;
  text-align: center;
  background-color: #273b44;
  border-left: 5px solid red;
  border-right: 15px solid #1D435D;
  max-width: 400px;
  margin-bottom:10px;
}
.event-date-home{
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;

}
.title-container-event-home-past {
  margin-top: 10px;
  text-align: center;
  background-color: #273b44;
  border-left: 5px solid #D6A948;
  border-right: 15px solid #1D435D;
  max-width: 400px;
  margin-bottom:10px;
}
.title-container-event-home-future {
  margin-top: 10px;
  text-align: center;
  background-color: #273b44;
  border-left: 5px solid #80cde9;
  border-right: 15px solid #1D435D;
  max-width: 400px;
  margin-bottom:10px;
}
.title-container-event-home {
  margin-top: 10px;
  text-align: center;
  background-color: #273b44;
  border-left: 5px solid #80cde9;
  border-right: 40px solid #1D435D;
  max-width: 400px;
  margin-bottom:10px;
}

.diamond-icon {
  position: absolute;
  height: 25px;
  width: 25px;
  margin-top: 4px;
  padding-left: 5px;
  fill: white;
}
.diamond-icon-home {
  height: 25px;
  width: 25px;
  padding-left: 5px;
  padding-right:5px;
  fill: white;
}

.arrow-icon{
  position: absolute;
  height: 25px;
  width: 25px;
  fill: white;

}
.subheader-container-home {
  margin-top: 50px;
  margin-left: 50px;
  text-align: left;
  width: 95%;
  position: absolute;
  background-color: #4389BA;
}

.description-container-home {
  padding: 20px;
  margin-top:20px;
  text-align: center;
}
description-container-policy{
  padding: 20px;
  text-align: center;
  margin-left:10;

}
.description-container-home h1,
.description-container-home h2,
.description-container-home p,
.description-container-home a { /* This will also ensure links are white */
  color: #ffffff; /* This sets the text color to white */
}

/* If you want all items in the container to be white, including list items */
.description-container-home {
  color: #ffffff;
}

/* If links need a different style when hovered upon */
.description-container-home a:hover {
  color: #cccccc; /* Light grey for hover effect, adjust if needed */
  text-decoration: none; /* Removes underline on hover, optional */
}

.spartan-description-home {
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  width: 100%;
  box-sizing: border-box; /* ensures padding does not add to the total width */
  padding-top: 20px; /* adjust padding as needed */
  margin: 0; /* removes any default margin */
  color: white;
  padding-left: 20%;
  padding-right: 20%;

}

.spartan-description-donate {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  width: 100%;
  box-sizing: border-box; /* ensures padding does not add to the total width */
  margin: 0; /* removes any default margin */
  color: white;
  padding-left: 10%;
  padding-right: 10%;

}



.event-card:hover {
  transform: scale(1.01); /* Make the card slightly larger */
  cursor: pointer;

}
@media screen and (max-width: 500px) {

  .cards-container{
    margin-top:10px;
  }

}


@media screen and (max-width: 1040px) {
  .main-grid-container{
    grid-template-columns: 1fr; /* One column taking full width */
        height: auto;
  }


}
/* Container for the events */
.events-container-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto; /* 2/3rd of the width */
  height: auto; /* Adjusted for variable content height */
  margin: 0 auto;
}

.event-card {
  flex-basis: calc(33.33% - 10px);
  margin-bottom: 20px;
  margin-top:10px;
  height: 450px;
  width: 400px;
  padding-right:20px;
  transition: all 0.3s ease;

}
.event-card img {
  height: 100%;
  object-fit: cover;
  width:100%;
  max-height: 400px;
  max-width: 400px;
}


.event-subheader {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-size: 18px;
  width: 100%;
  max-width: 400px;
  color: white;
  background-color: #4389BA;
}

.releasenotes-container{
  text-align: center;
  gap: 20px;

}
.event-days{
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  padding-left: 15px;
  color: white;
  margin-bottom: 0px;
  z-index:100;
  max-width: 400px;

  background-color: #4389BA;


}
.title-container-home {
  margin-top: 10px;
  margin-left: 50px;
  text-align: center;
  width: 95%;
  position: absolute;
  background-color: #273b44;
  border-left: 5px solid #80cde9;
  border-right: 40px solid #1D435D;
}
.title-container-donate {
  margin-left: 50px;
  text-align: center;
  width: 95%;
  position: absolute;
  background-color: #273b44;
  border-left: 5px solid #80cde9;
  border-right: 40px solid #1D435D;
  border-radius: 5px 5px 0 0;
}

.event-date{
  text-align: center;
  font-size: small;
  font-style: italic;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  padding-left: 15px;
  color: white;
  margin-bottom: 0px;
  z-index:100;
  max-width: 400px;
  background-color: #4389BA;

}

.playlist-card {
  flex-basis: calc(33.33% - 10px); /* Adjust for three cards */
  margin-bottom: 20px; /* Spacing between rows */
  background-color: white;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .title-container-donate {
    margin-left: 50px;
    text-align: center;
    width: 90%;
    position: absolute;
    background-color: #273b44;
    border-left: 5px solid #80cde9;
    border-right: 40px solid #1D435D;
  }


  .donate-buttons {
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center buttons horizontally */
}
.btn.patreon-btn{
  margin-bottom: 10px;
  width : 300px;
}
.btn.paypal-btn{
  margin-bottom: 10px;
  width : 300px;
}
  .events-container-home {
    width: 100%; /* Full width on smaller screens */
  }
  .event-image {
    padding-bottom: 20px;
  }

  .event-card {
    flex-basis: 100%; /* Stack cards in a single column on small screens */
    margin-top:0px;
    margin-left: 10%;
  }
  .home-grid-container{
    margin: -60px;
    overflow: hidden;
  }
  .title-container-events-home{
    width: 89%;
  }

  .subheader-container-home{
    margin-left: 10px;
  }
  .description-container-home{
    margin-left: 10px;
  }

.release-notes{
  padding:45px;
  padding-top:5px;
}

}
