.welcome-title {
  color: rgb(213, 213, 213);
  padding-top: 60px;
  padding-left: 50px;
  padding-bottom: 10px;
  text-align: center;
  font-style: italic;
  font-size: large;

}

.home-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); /* Allows for a fluid number of columns */
  gap: 5px;
  align-items: start;
  margin-bottom: 50px;
  border-radius: 10px;
  border: 5px solid #32525E;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.31);
  backdrop-filter: blur(10px);
  overflow: hidden;
}


.spartan-title-home {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  padding-left: 15px;
  color: white;
  margin-bottom: 0px;
}

.spartan-subheader-home {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  padding-left: 40px;
  margin-top: 5px;
  padding-bottom: 5px;
  color: white;
  margin-bottom: 0px;
}



.title-container-home {
  margin-top: 10px;
  margin-left: 50px;
  text-align: center;
  width: 95%;
  position: absolute;
  background-color: #273b44;
  border-left: 5px solid #80cde9;
  border-right: 40px solid #1D435D;
}


.diamond-icon {
  position: absolute;
  height: 25px;
  width: 25px;
  margin-top: 4px;
  padding-left: 5px;
  fill: white;
}

.arrow-icon{
  position: absolute;
  height: 25px;
  width: 25px;
  fill: white;

}
.subheader-container-home {
  margin-top: 50px;
  margin-left: 50px;
  text-align: left;
  width: 95%;
  position: absolute;
  background-color: #4389BA;
}

.description-container-home {
  padding: 20px;
  text-align: center;
}

.spartan-description-home {
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  width: 100%;
  box-sizing: border-box; /* ensures padding does not add to the total width */
  padding-top: 20px; /* adjust padding as needed */
  margin: 0; /* removes any default margin */
  color: white;
  padding-left: 20%;
  padding-right: 20%;

}



@media screen and (max-width: 500px) {

  .cards-container{
    margin-top:10px;
  }

}


@media screen and (max-width: 1040px) {
  .main-grid-container{
    grid-template-columns: 1fr; /* One column taking full width */
        height: auto;
  }

  
}