.navbar-container {
  text-align: center;
  font-size: medium;
  padding: 10px 20px;
  padding: 0; 
  margin-left: 50px;
  position: absolute;
}
.header-wrapper {
  background: rgba(0,0,0,0.3);
  color: #E4E6EB;
  padding: 5px;
  position: fixed;
  bottom: 0;
  left: 0px;
  height: 40px;
  z-index: 1;
  backdrop-filter: blur(10px);
}


.hamburger {
  display: none; /* Hide by default */
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.hamburger div {
  width: 100%;
  height: 3px;
  background: #80cde9;
  border-radius: 10px;
}

.spartan-title {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  padding-left:15px;
  color: #80cde9;
  margin-bottom: 0px;
}



.title-container {
  margin-top: 10px;
  margin-left: 50px;
  text-align: center;
  width: 95%;
  z-index: 1;
  background-color: #273b44;
  border-left: 5px solid #80cde9;
  border-right: 40px solid #1D435D;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px; /* Space for the hamburger icon */
}

.App-nav {
  display: flex;
  margin-top: 25px;
  gap: 15px;
}

.nav-button {
  font-family: 'Oswald', sans-serif;
  font-size:large;
  color: #80cde9;
  background-color: #273b44;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 1;
  border-top: 2px solid #477289;
  position: relative;
  flex-wrap:nowrap;
  white-space: nowrap;
}

.nav-button-wrapper {
  position: relative;
  display: flex;
  flex: 1;
  padding: 0;
  margin: 0;
}

  /* Top-left dot */
  .nav-button-wrapper::before {
    content: ''; 
    position: absolute;
    top: 0px;
    left: 0px;
    width: 2px;
    height: 2px;
    background-color: #80cde9;
    z-index: 10;
}

/* Top-right dot */
.nav-button-wrapper::after {
    content: '';  
    position: absolute;
    top: 0px;
    right: 0px;
    width: 2px;
    height: 2px;
    background-color: #80cde9;
    z-index: 1;
}

/* Bottom-left dot */
.nav-button::before {
    content: ''; 
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 2px;
    height: 2px;
    background-color: #80cde9;
}

/* Bottom-right dot */
.nav-button::after {
    content: '';  
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 2px;
    height: 2px;
    background-color: #80cde9;
}
  
.nav-button:hover {
  background-color: #477289;
  border-top: 2px solid #80cde9;
  color: #FFF; /* Setting text color to white */

}


/* Active button styling */
.nav-button.active {
  color: #FFF; /* Setting text color to white */
  background-color: #477289;
  border-top: 2px solid #80cde9;
}

/* Change the dot colors to white for active button */
.nav-button.active::before, 
.nav-button.active::after {
  background-color: #FFF; /* Bottom dots */
}

.nav-button:hover::before, 
.nav-button:hover::after {
  background-color: #FFF; /* Bottom dots during hover */
}

/* Change the top dot colors to white for the wrapper containing the hovered/active button */
.nav-button-wrapper:hover::before, 
.nav-button-wrapper:hover::after,
.nav-button-wrapper .nav-button.active + ::before, 
.nav-button-wrapper .nav-button.active + ::after {
  background-color: #FFF; /* Top dots */
}


.nav-button-wrapper.active-wrapper::before, 
.nav-button-wrapper.active-wrapper::after {
  background-color: #FFF; /* Top dots */
}

.hamburger-button {

  cursor: pointer;
}

.fixed {
  position: fixed; /* Apply fixed positioning only when this class is present */
  top: 0;
  z-index: 1000;
}

.fixed-nav {
  position: fixed; /* Apply fixed positioning only when this class is present */
  top: 0;
  margin-top: 50px;

  z-index: 1000;
}
.dropdown-menu {
  position: absolute;
  margin-top: 60px;
  z-index: 10;
  background-color: transparent;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
  flex-direction: column;
  display:flex; /* Ensuring it is displayed */
  z-index: 101;
}

.nav-button:hover {
  background-color: #477289;
  border-top: 2px solid #80cde9;
  color: #FFF;
}

.nav-button.active {
  color: #FFF;
  background-color: #477289;
  border-top: 2px solid #80cde9;
}

#page-content-wrapper {
  margin-top: 150px;
  margin-left: 50px;
  margin-right:50px;
}

.dropdown-menu button {
  margin-top: 5px;
  margin-bottom: 5px;
}

@media screen and (max-width: 590px) {
  .App-nav {
    flex-direction: column;
    margin-bottom: -70px;
    transform: translateX(-25px);
    
  }
.title-container-home, .spartan-title{
  width:80%;
  
}
.subheader-container-home{
  width:80%;
  
}
.title-container {
  width: 100%;
  margin-left: 0px;

}
  .nav-button, .nav-button-wrapper {
    width: 100%; /* Make each button take the full width */
    min-width: 100%;
    min-height:50px;
    display: block; /* Stack elements vertically */
  }
  .dropdown-menu{
    margin-top:0px;
    margin-left:50px;
  }


  .navbar-container {
    position: relative;
  }

  .hamburger {
    display: flex; /* Show the hamburger icon */
  }
  .App-nav {
    display: none; /* Hide the normal navigation initially */
  }

  .App-nav.show {
    display: flex; /* Show the nav when the hamburger is clicked */
    margin-left: auto;
    z-index: 100;
    width: 90%;
    background-color: #273b44; /* Match the background of the title container */
    align-items: center;
    

  }


  /* If you want to remove the gap between button and wrapper */
  .nav-button-wrapper {
    gap: 0;
  }
}