/* Operations.css */

.operations-container {
    display: flex;
    overflow-x: auto;
    margin: 0 auto;  /* Center horizontally */
    padding-bottom: 30px;
    padding-left:50px;
    backdrop-filter: blur(10px);
}
.operations-container::-webkit-scrollbar {
    display: none;
}

.ops-title{
    color:white;
    padding-top:50px;
    padding-bottom: 10px;
    text-align: center;
}

.season-name{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-style: normal;
    font-size: 18px;
    padding-left: 10px;
    margin-bottom:0px;
    color: white;
    background-color: #4389BA;
    z-index: 100;
}
.live-banner {
    position: absolute;
    background-color: red;
    color: white;
    padding: 0px 15px;
    font-weight: bold;
}

.ops-days{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    padding-left: 15px;
    color: white;
    margin-bottom: 0px;
    z-index:100;
    background-color: #4389BA;


}
.ops-date{
    text-align: center;
    font-size: small;
    font-style: italic;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    padding-left: 15px;
    color: white;
    margin-bottom: 0px;
    z-index:100;
    background-color: #4389BA;

}



.season-card {
    color: white;
    background: rgba(7, 7, 7, 0.2);
    transition: all 0.3s ease;
    position: relative;
    margin-top:50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* softer shadow */
}
.ops-grid-container {
    gap: 5px;
    align-items: start;
    margin-bottom: 50px;
    border-radius: 10px;
    border: 5px solid #32525E;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.31);
    backdrop-filter: blur(10px);
    overflow: hidden;
  }

  .spartan-description-operations {
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    box-sizing: border-box; /* ensures padding does not add to the total width */
    padding-top: 20px; /* adjust padding as needed */
    margin: 0; /* removes any default margin */
    color: white;
    padding-left: 5%;
    padding-right: 5%;
  
  }
  .spartan-subdescription-operations {
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    box-sizing: border-box; /* ensures padding does not add to the total width */
    padding-top: 20px; /* adjust padding as needed */
    margin: 0; /* removes any default margin */
    color: white;
    padding-left: 5%;
    padding-right: 5%;
  
  }
.title-container-operations {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 20px;

    text-align: center;
    position: relative;
    background-color: #273b44;
    border-left: 5px solid #80cde9;
    border-right: 40px solid #1D435D;
    z-index: 10;
    
  }
  
  .subheader-container-operations {
    margin-top: 50px;
    margin-left: 50px;
    text-align: left;
    width: 85%;
    position: absolute;
    background-color: #4389BA;
    z-index: 10;
  }
  
  .operations-title-operations {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    padding-left: 15px;
    color: white;
    z-index:100;
  }
  
  .spartan-subheader-home {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    padding-left: 40px;
    margin-top: 5px;
    padding-bottom: 5px;
    color: white;
  }
  
.season-img{
    height: 100%;
    object-fit: cover;
    width:100%;
    max-height: 300px;
    max-width: 300px;
}


.season-card.active {
    transform: scale(1.2);
}

.season-card:hover {
    transform: scale(1.02); /* Make the card slightly larger */
    cursor: pointer;

    background: rgba(7, 7, 7, 0.3);
}
.season-date{
    text-align: center;
    font-style: italic;
    font-weight: 800;
}
.hidden {
    display: none;
}


@media (max-width: 768px) {
    .operations-container {
        flex-direction: column;
        align-items: center;
        margin:-60px;
        overflow-x:hidden;

    }


    .season-card {
        margin: 10px 0 30px 20px;
        transform: scale(0.9);
        width: 160%;
    }


    
}