  /* styles.css */
  .rank-image {
    width: 150px;
    height: auto;
	margin-bottom: 10px;

}
.rank-image, .rank-regular-image, .rank-spotlight-image {
    margin: 0 auto;
  }
.rank-card{
    margin-left: 50px;
    max-width: 600px;
    height: 70vh;
    background: rgba(7, 7, 7, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 3px solid #01010108;



}
.playlist-card{
    max-width: 600px;
    margin-right: 50px;

    height: 70vh;
    background: rgba(7, 7, 7, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 3px solid #01010108;

}

.rank-container {
    background: rgba(255, 255, 255, 0.129);
    backdrop-filter: blur(10px);
    color: white;
    border: 1px solid #e0e0e0;
    transition: transform .3s;
    padding: 20px;
	padding-left:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 275px;
    flex-shrink: 0; /* Prevents resizing */
    
}
.rank-container:hover {
    transform: scale(1.05);
  }
.playlist-card-body {
    max-height: calc(70vh - 50px);
    overflow-y: auto;
    overflow-x:hidden;
    border-radius: 10px;
}

.table-element{
    color: white;
    border-bottom: 1px;
}
.rank-header {
    font-weight: bold;
    margin-bottom: 10px;
}

.rank-subtext{
	font-weight: bold;
}

.rank-row {
    display: flex;
    padding: 10px 15px 20px 25px; /* top, right, bottom, left */
    gap: 20px; /* Space between containers */
}


.rank-spotlight {
    flex: 1;
    background: rgba(255, 255, 255, 0.129);
    backdrop-filter: blur(10px);
    color: white;

}
.subheader-container-rank-table {
    margin-left: 50px;
    text-align: left;
    width: 95%;
    transform: translateY(90vh);
    position: absolute;
    background-color: #4389BA;
  }
.main-grid-container-progression {
    gap: 5px;
    margin-bottom: 50px;
    border-radius: 10px;
    border: 5px solid #32525E;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.31);
    backdrop-filter: blur(10px);
  }

.rank-spotlight-image {
    width: 200px;  /* or whatever width you want */
    height: auto;  /* maintain aspect ratio */
	justify-content: center;

}
.rank-regular-image {
    width: 150px;  /* or whatever width you want */
    height: auto;  /* maintain aspect ratio */
	justify-content: center;

}



.card{
    margin-top: 70px; /* or another value to create space above the cards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 10px;

}
.card-header {
    position: sticky;
    z-index: 100;  /* To ensure it stays above the other content */
    color: white;
    font-size: 28px;
    border-radius: 10px 10px 0 0;
    background: rgba(7, 7, 7, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
.card-body{
    padding: 0; /* Remove the padding */
}


.grid-container {
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
    
    display: grid;
    grid-template-columns: 1fr 1fr; /* Creates two equally sized columns */
    grid-gap: 20px; /* Adds space between grid items */
    padding: 20px; /* Adds padding around the grid container */
}

.flex-row {
      margin-bottom: 20px; /* To separate from the ranks card */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .flex-col {
    flex: 1;
    margin: 0 10px;  /* Optional: for some spacing between the columns */
  }

  /* Additions to your styles.css */
  .xp-table {
    width: 100%;
    transform: scale(0.95);
    border: 1px solid #ffffff30;


    border-collapse: separate !important;
    background: rgba(255, 255, 255, 0.129);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    margin-bottom: 15px;
    border-spacing: 0 8px;
}
.xp-table tbody tr{
    z-index: 1; /* lower than the header */
}


.xp-table tbody tr:hover {
    transform: scale(1.05);
}


.xp-table thead th {
    padding: 12px 10px;
    background: rgb(217, 217, 217);

    backdrop-filter: blur(1px);
    position: sticky;
    z-index: 20000000;  /* higher than other elements */
    border: none;
    font-weight: 600;
}



.xp-table td, .xp-table th {
    top: 0px;  /* 0px if you don't have a navbar, but something is required */
    padding: 8px;
    text-align: center;
}

/* Icons (you can use real icons, these are placeholders) */
.xp-icon, .time-icon, .rate-icon {
    vertical-align: middle;
    margin-right: 5px;
}



.xp-icon::before {
    content: "XP";
}

.time-icon::before {
    content: "Min";
}

.rate-icon::before {
    content: "XP/min";
}
.top-icon-bar{
    transform: scale(0.90);
    color: white;
    margin-bottom: 10px;
}

.top-icon-bar th:nth-child(1) {
    width: 60%;
    text-align: center;
}

.top-icon-bar th:nth-child(2) {
    width: 12%;
    text-align: center;

}

.top-icon-bar th:nth-child(3) {
    width: 35%;
    text-align: center;

    
}

.top-icon-bar th:nth-child(4) {
    width: 20%;
}

/* Container styles */
.progressBarProgression {
    position: absolute;  /* This will position the progressBar relative to challenge-row */
    width: 100%; 
    height: 25px; 
    border-radius: 0; /* Square edges */
    bottom: 0;
    background-color: var(--primary-color);
    border-radius: 0px 0px 10px 10px; /* Square edges */
  }
  
  /* Progress fill styles */
  .progressBarFillProgression {
    height: 100%;
    background-color: var(--secondary-color);
    text-align: center;
    border-radius: 0px 0px 0px 10px; /* Square edges */
  
  }

.relative-container {
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
  }
  .RankTable {
    border-radius: 10px;

    max-height: auto;
    overflow-y: auto; 
    transition: transform 0.3s;
    overflow-x: hidden;
}

@media (max-width: 400px) {
    .RankTable {

        transform: scale(0.8);
    }
}

.rank-table-elem{
    background: rgba(255, 255, 255, 0.029);
    backdrop-filter: blur(10px);


}
.grid-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    
  }
  
  .grid-col {
    border-radius: 10px;

  }
  
  .grid-row-full {
    
    grid-column: 1 / -1;
  }
  
  /* Responsive layout */
  @media (max-width: 900px) { /* Adjust 768px to your needs */
    .grid-container {
      grid-template-columns: 1fr;  /* One column */
    }
    .grid-col, .grid-row-full {
      grid-column: 1 / -1;  /* Span the full width */
    }
  }
  
  .rank-table-outer-container {
    margin: auto;      /* centers the table in the grid cell */
  }
.HeroProgress{
    text-align: center;
    color: white;
    background: rgba(7, 7, 7, 0.2);
    backdrop-filter: blur(10px);
    font-style: italic;
}
  