
.hover-content {
    display: none;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    top: 105%; /* This will position the tooltip just below its parent container */
    transition: opacity 0.7s ease;
    opacity: 0;
}

.first-column-content {
    transform: translateX(15%);
}

/* For the last column's tooltip */
.last-column-content {
    transform: translateX(-100%);

    left: 40%;   /* This will position the tooltip towards the left of the cell */
}

.rank-image {
    max-width: 50px;
    max-height: 70px;
    background: rgba(255, 255, 255, 0.129);
    backdrop-filter: blur(10px);
    border-radius: 10px; /* for rounded corners */
    border: 1px solid #ffffff30;

    transition: transform .3s; /* hover effect */
}
.rank-image:hover {
    transform: scale(1.05); /* zoom in a bit on hover */
}

.rank-image-tooltip {
    max-width: 50px;
    max-height: 70px;
    background: rgba(255, 255, 255, 0.129);
    backdrop-filter: blur(10px);
    border-radius: 10px; /* for rounded corners */
    border: 1px solid #ffffff30;

    transition: transform .3s; /* hover effect */
}
.tooltip-header {
    font-weight: bold;
    font-size: 2em;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    text-align: center;
}


.card-tooltip {
    border: 1px solid #000000;
    border-radius: 10px; /* bigger rounded corners */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* softer shadow */
    background: rgba(4, 4, 4, 0.849);
    backdrop-filter: blur(200px);
    color: white;
}


.skipped-ranks-container {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}
.text-container{
    text-align: center;
    font-style: italic;
    font-weight: 700;
    font-size:medium;
}
.tooltip-rank-slice{
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 5px;
    background: rgba(107, 107, 107, 0.256);
    backdrop-filter: blur(10px);

}
.skipped-rank-image {
    width: 50px; /* adjust as needed */
    height: 70px; /* adjust as needed */
    margin: 5px;
}

.color-label {
    text-align: center;
}

.tooltip {
    position: absolute;
    z-index: 1000;
    color: white;
    
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    top: 100%; /* This will position the tooltip just below its parent container */
    white-space: nowrap; /* To prevent the tooltip from breaking into multiple lines */
}




.current-rank {
    border: 2px solid #ffffff;
    transition: background-color 0.3s ease; /* Smooth transition */
    border-radius: 10px;
}


/* Show when parent container is hovered */
.tooltip-container:hover .hover-content {
    display: block;
    opacity: 1;
}

.rankTableContainer {
    
    border: 1px solid #e0e0e0; /* light border */
    border-radius: 10px; /* rounded corners */
    transition: transform .3s; /* hover effect */
    padding: 20px; /* inner spacing */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* shadow for depth */
    margin-top: 70px; 
    max-width: 1200px;
    margin: auto;
    text-align: center; /* centered text */
}
.rankTableContainer:hover {
    transform: scale(1.05); /* zoom in a bit on hover */
}


.rankCategory {
    margin: 10px;
    padding: 20px; /* more padding for spaciousness */
    border-radius: 10px; /* rounded corners */
    border: 1px solid #e0e0e0; /* light border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* shadow for depth */
    transition: transform .3s; /* hover effect */
    
}
.rankCategory:hover {
    transform: scale(1.05); /* zoom in a bit on hover */
}




.rank-images-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 1px;
    backdrop-filter: blur(10px);
    background: rgba(7, 7, 7, 0.2);

}

.row-title-header {
    text-align: center;
    font-weight: bold;
    font-size: 24px !important;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    background: rgba(7, 7, 7, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;

}

.rank-images-table td:hover {
    background: rgba(7, 7, 7, 0.3);
}

.rank-images-table th,
.rank-images-table td {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* shadow for depth */    
    font-size: 10px;
    position: relative;
}
