.back-button {
    display: block;
    padding-bottom: 10px;

    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}

.operation-container-single {
  overflow-x: auto;
  margin: 0 auto;  /* Center horizontally */
  margin-bottom: 75px;
  padding-top: 50px;
  border: 5px solid #32525E;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.31);
  backdrop-filter: blur(10px);
  border-radius: 10px;

  }

  .season-img-selected {
    width: 100%; 
    height:200%;
    object-fit: cover; /* This will ensure the image covers the entire container without distorting */
    position: absolute; /* This will make the image position absolutely inside the card */
    top: 0;
    left: 0;
    z-index: -1; /* This will place the image behind the card content */

}
.season-card-selected::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, black); 
    z-index: 1; /* This will place the gradient between the image and the card content */
}
.season-card-selected {
    flex: 1;
    background: rgba(255, 255, 255, 0.88);
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;

    min-width: 300px;
    height:400px;
    border: 5px solid #477289;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; /* This will allow absolute positioning of child elements relative to this container */
    overflow: hidden; /* This will ensure that the image doesn't overflow the card's boundaries */
    z-index: 1; /* This will place the image behind the card content */

}
.item-img{
    width: 223px;
    height: 225px;
    transform: translateY(-14%);
}
.item-data{
    border-radius: 10px 10px 0 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    font-style: italic;
    white-space: nowrap;
    
}

.item-type{
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    font-style: italic;
    transform: translateY(-66%);

}
.item-core{
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    font-style: italic;
    font-weight: 700;
    transform: translateY(-130%);
    border-radius: 0 0 10px 10px;

}
.scrollable-ranks {
    transform: scale(0.9);
    display: flex;
    overflow-x: auto;
    height: 450px;
  }
  .season-rank-container{
    border-radius: 10px;

    background: rgba(7, 7, 7, 0.2);
    backdrop-filter: blur(10px);
    max-height: 400px;
  }
  .season-rank-row {
    display: flex;
    flex-direction: row;
    margin: 10px;
    height: 250px;
    align-items: center; /* Vertically centers the items, but depends on flex-direction */
  }

  .track-label-div{
    padding-top: 10px;
    transform: translateY(20%);
  }
.track-label{
    font-style: italic;
    text-align: center;
    font-weight: 900;
    color: white;
    border-radius: 5px;
    transform: translateY(160%);

}
.rank-number{
    color: white;
    background: rgba(7, 7, 7, 0.431);
    padding-bottom: 15px;
    font-size: larger;
    font-style: italic;
    font-weight: 900;
    padding-left: 10%;
}


.season-rank-card {    
  
    background: rgba(255, 255, 255, 0.5);
    height: 300px;
    width:225px;
    border-radius: 10px;
    border: 1px solid #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
    margin-left:10px;
    margin-right:10px;

}
.season-rank-card:hover{
  transform: scale(1.05); /* Make the card slightly larger */
  border-radius: 15px; /* bigger rounded corners */
  cursor: pointer;
  background-color: #e0e0e0; /* Darken the background a bit */

}

.text-overlay {
  font-family: 'Oswald', sans-serif;
    position: absolute;
    bottom: 10px; /* Spacing from the bottom */
    left: 10px;  /* Spacing from the left */
    display: flex;
    gap: 10px; /* Spacing between text elements */
    z-index: 10;
    text-align: center;
    width: 100%;
}
.nav-button.back{
  width: 100%;
  height: 100px;
}

.season-name-selected{
    z-index: 10;
    width: 100%;
    color: white;
    text-align: center;
    font-weight:900;
    font-size: 40px;
}
.text-overlay p {
    color: white; /* Text color */
}
.title-container-singleoperations {
  margin-top: 10px;
  margin-left: 50px;
  text-align: center;
  width: 85%;
  position: absolute;
  background-color: #273b44;
  border-left: 5px solid #80cde9;
  border-right: 40px solid #1D435D;
  z-index: 10;
  
}

.subheader-container-singleoperations {
  margin-top: 50px;
  margin-left: 50px;
  text-align: left;
  width: 85%;
  position: absolute;
  background-color: #4389BA;
  z-index: 10;
}

.operations-title-singleoperations {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  padding-left: 15px;
  color: white;
  z-index:100;
}
.date-text{
    text-align: center;
    color: white;
    font-style: italic;
    font-size: 14px;
}
.background-epic {
    background: linear-gradient(#6F4196, #6F4196);
  }
  
  .background-legendary {
    background: linear-gradient(#81652B, #81652B);
  }
  
  .background-rare {
    background: linear-gradient(#2D597C, #2D597C);
  }
  
  .completed-rank {
    border: 2px solid green; /* or whatever color you like */
  }
  
  .completed-checkmark {
    width: 20px;
    height:20px;
    margin-right: 10px;    
    border-radius: 5px;
    background-color: green;
  }