#sidebar-wrapper {
    background: rgba(0,0,0,0.3);
    position: fixed;
    height: 100vh;
    width: 220px;
    z-index: 2;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(2px);
    
}


.header-wrapper {
    background: rgba(0,0,0,0.3);
    color: #E4E6EB;
    padding: 5px;
    position: fixed;
    bottom: 0;
    left: 220px;
    z-index: 1;
    backdrop-filter: blur(10px);
}

.right-aligned {
    margin-top: auto;
    width: 100%;
    padding: 20px;
    backdrop-filter: blur(2px);
}

.list-group-item {
    background: rgba(0,0,0,0.3);
    color: #E4E6EB;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
    text-align: center;
    padding: 20px 10px;
}

.list-group-item:last-child {

}

.list-group-item:hover {
    background: rgba(0,0,0,0.4);
    color: white;
    cursor: pointer;
    transform: scale(1.02);
}

.sidebar-heading {
    color: #E4E6EB;
    background-color: rgba(var(--primary-color-rgb), 0.8);
    padding: 25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


@keyframes gradientMovement {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.clear-cookie-button {
    background: linear-gradient(90deg, var(--secondary-color), var(--primary-color), var(--secondary-color));
    background-size: 300% 100%; /* This stretches the gradient out */
    border: none;
    color: #E4E6EB;
    width: 100%;
    font-weight: 600;
    letter-spacing: 1px;
    animation: gradientMovement 120s infinite; /* This sets the animation to move over 30 seconds */
}

.clear-cookie-button:hover {
    animation-play-state: paused; /* This stops the animation on hover */
}


#page-content-wrapper {
    margin-left: 210px;
}
