


  .spartan-text-overlay {
    z-index: 1;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    width: 100%;
    padding: 1em; /* Adjust as necessary */
    box-sizing: border-box;
    position: absolute;
  }
  
  
  .spartan-description {
    font-size: 0.7em; /* Adjust based on your preference */
    margin: 0;
    overflow: auto; /* Ensures text does not overflow outside the container */
  }
  
  .armory-container {
    display: flex;
    height: 95%;
    margin-top: 0px;
  } 
  
  .spartan-card-container {
    display: flex;
    flex-wrap: nowrap; /* Do not wrap items by default */
    gap: 10px;
    margin-left: 10px;
    margin-top: 10px;
    flex-direction: column;
    overflow-x: auto; /* Enables horizontal scrolling */
    }
    .subheader-container-spartan {
      margin-top: 50px;
      margin-left: 50px;
      text-align: left;
      width: 95%;
      position: absolute;
      background-color: #4389BA;
    }
    .subheader-container-spartan:hover {
      margin-top: 50px;
      margin-left: 50px;
      text-align: left;
      width: 95%;
      position: absolute;
      background-color: #3c7caa;
      cursor: pointer;
    }
  .spartan-card-subheader-home-mini {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-style: normal;
    font-size: 18px;
    color: white;
    background-color: #4389BA;
  }
  .spartan-card-row {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping to next line */
    overflow-x: auto; /* Enables horizontal scrolling within the row */
    max-width: calc(4 * (200px + 10px)); /* Adjust for 4 cards and 10px gap */
  }
  .main-grid-container-spartan{
    flex-wrap: nowrap;
    gap: 5px;
    margin-bottom: 50px;
    border-radius: 10px;
    border: 5px solid #32525E;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
  }
  .armory-row{
    margin-top:56px;
    margin-left:25px;
    transform:scale(0.9);
  }
  .armory-row-cores{
    margin-top:56px;
    margin-left:25px;
    transform:scale(0.9);

  }