.offerings-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 100px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}



.offering.active {
    transform: scale(1.2);
}

.offering:hover {
    transform: scale(1.02); /* Make the card slightly larger */
    border-radius: 10px; /* bigger rounded corners */
    cursor: pointer;
    background: rgba(7, 7, 7, 0.3);
    z-index: 2; /* Make it above other elements */
}




.offering-img {
    display: block;
    transform: translatey(-3%);
    margin: auto; /* Center the image within the container */
}

.two-by-three-offering-pair {
    display: flex;
    flex-direction: column; /* Stack them vertically */
    /* Add any additional styling as needed */
}

.special-offering-stack, .two-by-three-offering-stack {
    display: flex;
    flex-direction: column; /* Stack them vertically */
    /* Add any additional styling as needed */
}
.card-subheader-mini-store {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-style: normal;
    font-size: 15px;
    margin-left:10px;
    margin-right:10px;
    margin-top:5px;
    margin-bottom: -5px;
    color: white;
    background-color: #4389BA;

}

.cardWithGradient-store {
    position: relative;
    z-index: 0;
  }
  
  .cardWithGradient-store::before {
    content: '';
    position: absolute;
    top: 0;
    left:10px;
    right: 5px;
    bottom: 5px;
    background: linear-gradient(to bottom, transparent,transparent 15px, var(--rarity-color));
    z-index: -1;
  }
  .stacked-offering-container {
    display: flex;
    flex-direction: column; /* Stack them vertically */
    /* Add any additional styling as needed */
}
