.offerings-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0px; /* No gaps between the items */
}

.offering {
    box-sizing: border-box;
    border: 1px solid black; /* Adding a border to visualize each card */
    margin: 10px;
}