
:root {
	--primary-color: #0D1E33; /* Default value */
	--secondary-color: #F68B39; /* Default value */
	--tertiary-color: #0C1C33;
  }
  .html, .d-flex, .relative-container {
	transition: background-color 0.3s ease;
  }

#page-content-wrapper {
	flex-grow: 1;
	overflow: auto;  /* in case the content gets too long */
  }

html {
  background-color: #1A282E;
  	background-size: cover; /* This will cover the entire viewport */
    background-repeat: no-repeat; /* This will prevent the image from repeating */
}

  .main-grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	height: 100vh;
	gap: 10px;
	padding: 50px;
  }


  .card-header{
	text-align: center;

  }
  .scaled-image {
	max-width: 75%; /* You can adjust this */
	height: auto;
  }
  .main-cards {
    color: white;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid black;
    background: rgba(7, 7, 7, 0.2);
    border-radius: 5px;
    border: 1px solid #000000;
    border-radius: 10px; /* bigger rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* softer shadow */
    transition: all 0.3s ease;
    margin-bottom: 5px; /* Adding margin-bottom to every offering */
  }

.container {
	margin: 0 auto;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	word-wrap: break-word; /* New: Wrap text */
}

.header {
	background-color: #333;
	color: #fff;
	padding: 10px;
}

.header h1 {
	margin: 0;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 10px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

nav ul li a:hover {
	text-decoration: underline;
}


.match {
	display: flex;
	align-items: center;
	margin-bottom: 10px;  /* Adds space below each card */
	transition: background-color 0.3s ease;  /* Animation */
	margin-top: 5px;	
  border: 5px solid #32525E;
  border-top: 5px solid #477289;

}
  .match:hover {
    border: 5px solid #81CDE9;
    background: rgba(71, 114, 137, 0.3);

  }
  
  .match-img {
	max-width: 200px;
	margin-right: 16px;

  }
  
  .info-col, .time-col {
	margin-right: 16px;
  }
  
  .map-name {
	font-size: 1.4em;
	margin-bottom: 4px;
  }
  
  .match-link{
	text-decoration: none;
	color: black
  }
  .playlist {
	font-size: 0.8em;
  }
  
  
  

  
/* Match Cards */
  

  /* Style for gamerpic */
.gamerpic-td img {
	border-radius: 50%;
  }
  
  /* Style for gamer tag */
  .gamertag-td {
	font-weight: bold;

  }
  
  /* Style for kills */
  .kills-td {
	color: green;
  }
  
  /* Style for deaths */
  .deaths-td {
	color: red;
  }
  
  /* Style for assists */
  .assists-td {
	color: blue;
  }
  
  /* Style for KDA */
  .kda-td {
	font-style: italic;
  }


.relative-container {
	
	position: relative;
  }
  .d-flex{
	
    background-color: #1A282E;
	
  }

  .main-card-spartan{
    position: absolute;
    bottom: 0;
}

