

.button-sign-in {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 100px;
  margin-top: 50px;
  padding: 20px 0;
  box-shadow: 0 0 20px rgba(17, 123, 17, 0.421);
  transition: 0.4s;
}

.button-container{
    width: 100%; /* Full width of the container */
    height:500px;
    display: flex;
    justify-content: center; /* Center button horizontally */
    align-items: flex-end; /* Align button to the bottom */
    padding-bottom: 20px; /* Add some padding at the bottom */
}
.main-grid-container-unauth {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space between items */
    align-items: center; /* Center items horizontally */



    flex-wrap: nowrap;
    gap: 5px;
    margin-bottom: 50px;
    height:500px;
    border-radius: 10px;
    border: 5px solid #32525E;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.31);
    backdrop-filter: blur(10px);
  }
  
.reg {
  color: white;
  background-color: rgba(17, 123, 17, 1);
}

.log {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 1);
}

.button-sign-in:hover {
  color: white;
  box-shadow: 0 0 20px rgba(17, 123, 17, 0.229);
  background-color: rgba(17, 123, 17, 1);
}

